<ng-template [ngIf]="!endGame" [ngIfElse]="results">
  <div class="interface">
    <div class="text"><span id="success-count">{{successCount}} cities placed</span></div>
    <div class="text"><span id="distance">{{currentKmLeft}} kilometers left</span></div>
    <br>
    <span id="current-city">Select the location of "{{currentCity}}"</span>
  </div>
  <br>
</ng-template>
<ng-template #results>
  <div class="interface">
    <h2 id="game_over">Game over</h2>
    <br>
    <div class="text"><span id="current_score">Current score: {{successCount}}</span></div>
    <br>
    <div class="text"><span id="highest_score">Highest score: {{highestScore}}</span></div>
    <br>
    <button class="button" (click)="startAgain()">Start again?</button>
  </div>
</ng-template>
  <div id="map"></div>
  <div class="interface">
    <button class="button" *ngIf="!endGame" (click)="enablePlaceMarker()">Place</button>

  </div>


