.interface {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.text {
  border: 1px solid black;
  background-color: lightgrey;
}

.button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#map {
  border: 2px solid black;
}
